body{
	background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;

	}
h1, h4{
	 color: #d50000 ;
    text-align: center;
    font-family: verdana;
}
h4{
    color: #e1bee7  ;
	padding-top: 0.5px;
    text-align: center;
    font-family: verdana;
    border-bottom: 1px dotted ;

}
.self .o img {
    float: right;
    margin: 10px 700px 0 0 ;
    border-radius: 200px;
    position: relative;

}
.self .d img
{
    float: right;
    margin: -250px 400px 50px 50px ;
    position: relative;
}
.self .e img
{
    float: left;
    margin-top: -300px;
    padding-left: 900px;
    position: relative;
}
.about
{
	color: white;
	float:left;raees
	margin:10px 10px 0 0 ;
    position: relative;

}
.about img
{
    float: left;
    margin: 15px 10px 1px 1px; ;
    border-radius: 200px;
    position: relative;
}
.qualification img
{
    float: left;
    margin: 10px 15px 5px 5px; 
}

td, th {
    color: white;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 110%;
}
.skills img
{
    float: left;
    margin: 2px 10px 1px 1px; 
    position: relative;
}
.follow img
{
    float: left;
    margin: 2px 10px 3px 1px; 
    position: relative;

}
.container
{
    width:200px;
    height: 50px;
    border: 20px solid #999
    background-color:teal;
}
#htm
{   background-color:#4caf50  ;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: htm ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes htm {
    from {
        width: 150px;
    }
    to {
        width:1000px;
        background: red;
    }
}
#css
{
    background-color: #4caf50 ;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: css ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes css {
    from {
        width: 150px;
    }
    to {
        width:700px;
        background: green;
    }
}

#php
{
    background-color: #006064;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: php ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  @keyframes php {
    from {
        width: 150px;
    }
    to {
        width:500px;
        background: teal;
    }
}

#js
{
    background-color: #4db6ac ;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: js ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
    @keyframes js {
    from {
        width: 300px;
    }
    to {
        width:500px;
        background: blue;
    }
}
#cplus
{
    background-color: #42a5f5;
    width: 400px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: cplus ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
    @keyframes cplus{
    from {
        width: 280px;
    }
    to {
        width:400px;
        background: #999966;
    }
}


#json
{
    background-color: #aa00ff ;
    width: 250px;
    font-size: 15px;
    border-radius: 20px;
    animation-name: json ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
 @keyframes json{
    from {
        width: 280px;
    }
    to {
        width:300px;
        background: #90caf9 ;
    }
}
#git
{
    background-color: #d32f2f ;
    width: 200px;
    font-size: 15px;
    border-radius: 20px;
    animation-name:git;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes git{
    from{
        width:200px;
    }
    to{
        width:300px;
        background: #4a148c ; 
    }
}
#unix
{
    background-color : #ef9a9a; 
    width: 200px;
    font-size: 15px;
    border-radius: 20px;
    animation-name:unix;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes unix{
    from{
        width:200px;
    }
    to{
        width:300px;
        background: #4a148c ; 
    }
}

#java
{
    background-color: #e65100 ;
    width: 250px;
    font-size: 15px;
    border-radius: 15px;
    animation-name:java;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes java{
    from{
        width:250px;
    }
    to{
        width:350px;
        background: #4a148c ; 
    }
}
.copy{
    font-size: 13px;
}
#name{
    font-size: 20px;
    font-weight: bold;
}
#nam{
    border-color: green;
    border-radius: 20px;
    font-size: 2em; 
}
.s{
    overflow: hidden;
      width: 100%;
}
.phone
{
  float: left;
  width: 50%;
  padding-bottom: 500em;
  margin-bottom: -500em;
  text-align: left;
}
.contact
{
  float: left;
  width: 50%;
  margin-right: -1px;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

